<!DOCTYPE html>
<html>
<head>

	<title>Student Details</title>
</head>

<body>
<div style="margin-left: 50px;">
	<legend><h1>Random Number Updation</h1></legend><br>
<fieldset style="background-color:#93FFE8;">
		

	
	<div>
		<h2 style="text-transform:uppercase"> WELCOME  {{name}}</h2>

		<h3> Your student_Id => {{student_id}}</h3>
  		
        <h3>Random Number Generated => {{id_tag}} </h3>


		<h3>Your New Id Tag => {{id_tag}}<br>
		After updated</h3>

	</div>

			<a href="/"><input type="submit" class="form-control" value="Logout" style="color:black; font-size: 25px; padding: 10px; padding-left: 20px; padding-right: 20px;"></a>


	</fieldset>
</div>

</body>
</html>